/* CSS reset script */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




*{
  text-decoration: none;
  list-style: none;
  color: #eee;
  /* margin: 1rem auto; */
}

h1{
  font-size: 1.9rem;
  line-height: 1.4;
  margin-top: 7px;
  font-family: 'Roboto', sans-serif;
  
}


.main-nav{
  background-color: rgba(50, 50, 50, 0.7555);
  height: 100px;
  backdrop-filter: blur(3px);
  /* backdrop-filter: brightness(0%); */

  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.main-nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
}

.main-nav ul li{
  /* margin: auto 0.5rem; */
  font-size: 1.4rem;
}

.main-nav ul li a{
/* padding: 1% 8%; */
font-size: 70%;
font-family: 'Heebo';
text-transform: uppercase;
/* border: solid 1px #eee; */
}



.main-nav ul li a:after{
display: block;
content: '';
border-bottom: 3px solid #eee;
transform: scaleX(0);
transition: transform 0.25s ease-in-out;
/* transform-origin: 0% 50%; */
padding: 0 2rem;
}
.main-nav ul li a:before{
content: '';
}

.main-nav ul li a:hover::after{
transform: scaleX(1);
}
.main-nav ul li a:after:hover{
transform: scaleX(1);
}







.overlay {
backdrop-filter: blur(2px) brightness(70%);
height: 100%;
width: 0;
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
background-color: rgba(30, 30, 30, 0.7555);
overflow: hidden; /* Disable horizontal scroll */
transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    display: none;
    /* align-items: center; */
    /* vertical-align: auto; */
    
    top: 30%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; 
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s;
    /* transform: translate(40px, 0); */
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20%;
    right: 45px;
    font-size: 60px;
}

#mySearch{
background: #444;
width: 50%;
border: 1px solid #222;
padding: 0.5rem 0.9rem;
margin: 1rem auto;
}

h2{
  font-size: 2rem;
  margin: 1rem 0;
  
}

.overlay-elements p{
word-spacing: 0.2rem;
line-height: 1.3rem;
font-size: 1.1rem;
}

.bg{
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(2px) brightness(80%);
  background: url('../video1.jpeg') ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* -webkit-backdrop-filter: blur(3px); */
  height: 100vh;
  background-position: center;
  z-index: -1;
}

.main{
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}

#res{
    width: 100%;
    margin: -54px auto 0 auto;
}
#downloadLink{
  margin-top: 1rem;
  text-align: center;
  margin: 20px auto 50px auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fas{
  color: #333;
  font-size: 1.3rem;

}
.downloadText{
  color: #333;
  border: solid 2px #333;
  background-color: #eee;
  padding: 10px 30px;
  border-radius: 4px;
}

.dText{
  display: inline;
  color: #333;
  padding-left: 15px;
}

#downloadLink:hover{
  opacity: 80%;
}























@media only screen and (min-width: 960px) {
    
    
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15%;
    right: 10%;
  }

  .main-nav{
    height: 50px
  }

  h1{
    float: left;
    line-height: 1;
    margin-left: 10%;
    border-right: solid 2px #eee;
    padding: 2.5px 5%;
  }
  .main-nav ul{
    margin: auto 10% auto 10%;
    line-height: 2.05;
  }

  .main-nav ul li a:after{
    padding:0 3rem;
  }
  #mySearch{
    width: 30%;
  }

  #res{
    width: 50%;
    position: relative;
    left: 30%;
    margin-top: -10%;
  }
  #downloadLink{
    margin: 25px auto 100px auto;
  }


}
